/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

@keyframes fadeIn {
    from    { opacity: 0.0; }
}
@keyframes fadeOut {
    to    { opacity: 1.0; }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

.fadein.ng-enter,
.fadeout.ng-leave {
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    display: block !important;
}

.fadein.ng-enter {
//    opacity: 0;
    animation: fadeIn 0.3s both ease-in;
    z-index: 8888;
}

.fadeout.ng-leave {
    opacity: 1;
//    animation: fadeOut 0.8s both ease-in;
    z-index: 9999;
}

.fadein.ng-enter.ng-enter-active {
    transition-delay: 0.2s;
    opacity: 1;
}

.fadeout.ng-leave-active {
    opacity: 0;
}

.view {
    position: absolute;
    width: 100%;
}
