<main>
<section class="box">
<div class="box-content">
<h1 class="underline">Sådan spiller du med tasterne</h1>
<p>Du styrer hullet til venstre med tasterne ”a” og ”d”, og du styrer 
hullet til højre med venstre piletast og højre piletast. Der er 
ingen regler for, hvordan spillet gennemføres. Alle tricks gælder, 
og du vinder ved at få 25 bolde i hul, på den korteste tid. Tryk 
start når du er klar.</p>
<br/>
</div>
<a class="button next" ui-sref="step_4()">
    <p>Fortsæt</p>    
    <div class="dot"><img src="../img/arrow.png" alt="Næste" /></div>
</a>
</section>
</main>