<main>
<section class="box">
<div class="box-content">
<h1 class="underline">Formål</h1>
<p>Du skal sørge for at golfboldene ryger i hul. Du spiller på to 
baner på samme tid, og du skal fange 25 bolde så hurtigt som 
muligt. Du bruger fire taster til at styre.</p>
<br/>
<div class="demo">
     <img class="flag-demo blue" src="img/blue-flag.png" alt="Blåt flag">
     <img class="flag-demo green" src="img/green-flag.png" alt="Grønt flag">

     <div class="message message-1"><img src="../img/controls-a.png"></div>
     <div class="message message-2"><img src="../img/controls-d.png"></div>
     <div class="message message-3"><img src="../img/controls-left.png"></div>
     <div class="message message-4"><img src="../img/controls-right.png"></div>

</div>

</div>

<a class="button next" ui-sref="step_3()">
    <p>Fortsæt</p>    
    <div class="dot"><img src="../img/arrow.png" alt="Næste" /></div>
</a>
</section>
</main>