<main class="game-2">
  <section class="field">
    <div class="holes">
      <div id="flag-green" class="flag"><img src="img/green-flag.png" alt="Grønt flag"></div>
      <div id="flag-blue" class="flag"><img src="img/blue-flag.png" alt="Blåt flag"></div>
    </div>
    <div class="fly-by"> </div>
  </section>
  <section class="scoreboard">
    <div id="score-blue" class="score">0</div>
    <div id="score-green" class="score">0</div>
    <div class="timer">
      <div id="counter-1" class="counter">0</div>
      <div id="counter-2" class="counter">1</div>
      <div class="colon">:</div>
      <div id="counter-3" class="counter">3</div>
      <div id="counter-4" class="counter">0</div>
    </div>
  </section>
      <div class="button-container">
       <a class="button controls play" ng-click="startButton()">
                  <p>Start runde 2</p>    
                  <div class="dot"><img src="../img/arrow.png" alt="Næste" /></div>
        </a>
    </div>
  <audio id="hole-in-one" src="audio/hole_in_one.mp3" preload="auto"></audio>
  <audio id="golf-shot" src="audio/golf_shot.mp3" preload="auto"></audio>
    <div class="box-wrapper succes">
        <section class="box">
            <div class="box-content">
			<h1 class="breaker">Det klarede du fantastisk, selvom det var meget vanskeligt.</h1>
            <p>Som du måske husker, startede vi med at sige, at der ikke var nogen regler for spillet. Det kan være du skal spørge, om der er en der vil hjælpe dig med spillet – I kan måske styre en bane hver og slå din tid?</p>
            </div>
            <a class="button next" ui-sref="step_6()">
                <p>Prøv igen</p>    
                <div class="dot"><img src="../img/arrow.png" alt="Næste" /></div>
            </a>
        </section>
    </div>
    <div class="box-wrapper failure">
        <section class="box">
            <div class="box-content">
			<h1 class="breaker">Du klarede ikke at vi satte tempoet op</h1>
            <p>Som du måske husker, startede vi med at sige, at der ikke var nogen regler for spillet. Det kan være du skal spørge, om der er en der vil hjælpe dig med spillet – I kan måske styre en bane hver?</p>
            </div>
            <a class="button next" ui-sref="step_6()">
                <p>Forsøg igen</p>    
                <div class="dot"><img src="../img/arrow.png" alt="Næste" /></div>
            </a>
        </section>
    </div>
</main>

