<main>
<section class="box">
<div class="box-content">
<h1 class="underline">Turbo Golf</h1>
<p>Vi er glade for at have fået dig om bord som vores nye kollega. Vi
er sikre på, at du er klar på en udfordring. I det følgende tester 
vi hvor god du er til at holde mange bolde i luften – eller rettere 
sagt at få dem i hul. Vi ved jo du er god, men lad os nu se, hvor 
god du rent faktisk er, og om du er bedre end de andre!</p>
<br/>
</div>
<a class="button next" ui-sref="step_2()">
    <p>Fortsæt</p>    
    <div class="dot"><img src="../img/arrow.png" alt="Næste" /></div>
</a>
</section>
</main>